<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScreenShot</title>
    <link rel="stylesheet" href="css/index.css">
</head>
<body>

<div id="Dlogo">
    <img src="123.png" class="logo"/>
</div>

<div id="Search">
    <input type="text" id="WebSite" name="WebSite" value=".com"/>
    <input type="button" id="Submit" name="Submit" value="查询"/>
</div>
<div id="ScreenShot">
</div>
<script type="application/javascript" src="bower_components/jquery/dist/jquery.js"></script>
<script type="application/javascript" src="js/index.js"></script>
</body>
</html>