<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ScreenShot</title>
    <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>

<div class="Dlogo">
    <img src="../static/img/Logo_256*42.png" class="logo"/>
</div>

<div class="Search">
    <input type="text" class="WebSite" name="WebSite" value=".com">
    <button class="Submit" value="查询"></button>
</div>

<script type="application/javascript" src="../static/js/index.js"></script>
</body>
</html>